:root {
    --content-width: 640px;
    --primary-color: #2DA8EB;
    --secondary-color: #0B6799;
    --tertiary-color: #6F9BB3;
    --primary-text-color: #FFFFFF;
    --secondary-text-color: #A5B1B8;
    --transition: all 0.25s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

a, p, label, span, button, input {
    line-height: 20px;
}

li {
    list-style: none;
}

input, textarea, button {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

a {
    color: inherit;
}

img {
    max-height: 100%;
    object-fit: cover;
}