.proposalCard {
   width: 100%;
   padding: 20px;
   border: 1px solid var(--secondary-color);
   border-radius: 10px;
   transition: var(--transition);
}

.proposalCard:not(:last-child) {
   margin-bottom: 10px;
}

.proposalCard:hover {
   border: 1px solid var(--primary-color);
   cursor: pointer;
}

.proposalCardLink {
   text-decoration: unset;
   color: unset;
}