@use "@carbon/themes/scss/tokens";
@use "@carbon/layout";

.proposalCard {
  width: 100%;
  padding: layout.$spacing-05;
  background: tokens.$layer-01;
  cursor: pointer;
}

.proposalCard:not(:last-child) {
  margin-bottom: layout.$spacing-04;
}

.proposalCardLink {
  text-decoration: unset;
  color: unset;
}