@use "@carbon/layout";

.wrapper {
  width: 100%;
}

.options {
  position: relative;
}

.collapsed {
  max-height: 0;
}

.expanded {
  max-height: 13.5rem;
}

.selectedOptions {
  display: flex;
  flex-flow: row wrap;
  gap: layout.$spacing-02;
  margin-top: layout.$spacing-03;
  min-height: 32px;
}