.button {
    padding: 5px 15px;
    border: unset;
    outline: unset;
    color: var(--primary-text-color);
    cursor: pointer;
    border-radius: 10px;
}

.primary {
    background: var(--primary-color);
}

.secondary {
    background: var(--secondary-color);
}

.button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}