@use "@carbon/themes/scss/tokens";
@use "@carbon/layout";

.comments {
    padding-left: layout.$spacing-06;
}

.comments:not(:last-child) {
    margin-bottom: layout.$spacing-05;
}

.comment {
    border: 1px solid var(--secondary-color);
    width: 100%;
    padding: layout.$spacing-05;
    transition: var(--transition);
    background: tokens.$layer-01;
    margin-bottom: layout.$spacing-05;
}

.commentText {
    margin: layout.$spacing-06 0;
}

.files {
    display: flex;
    flex-flow: row wrap;
    grid-gap: layout.$spacing-04;
}