.createProposal {
  width: 400px;
  margin: 0 auto;
}

.inlineInput {
  display: flex;
  flex-flow: row;
}

.addTagButton {
  margin-top: calc(16px + 8px);
}

.tags {
  display: flex;
  flex-flow: row wrap;
}