@use "@carbon/themes";
@use "@carbon/layout";

.container {
  display: grid;
  grid-template-columns: 300px var(--content-width);
  grid-template-rows: 100%;
  justify-content: center;
  height: var(--content-height);
}