@use "@carbon/layout";

.dislike {
  cursor: pointer;
  display: flex;
  flex-flow: row;
  gap: layout.$spacing-03;
  transition: var(--transition);
}

.dislikeActive {
  fill: currentColor !important;
}