.topbar {
    background: var(--primary-color);
    padding: 20px 40px;
}

.navigation {
    display: flex;
    flex-flow: row;
    gap: 20px;
    color: var(--primary-text-color);
    text-decoration: unset;
}

.navlink {
    text-decoration: unset;
}

.activeLink {
    text-decoration: underline;
}